<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>481292439864-uaes7c8o0s7uv1vio15tfth2246273im.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.481292439864-uaes7c8o0s7uv1vio15tfth2246273im</string>
	<key>API_KEY</key>
	<string>AIzaSyDl0FaW5MULiaHb5z-0NM6siASd6skZ1tA</string>
	<key>GCM_SENDER_ID</key>
	<string>481292439864</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.neonapps.FirestoreFB</string>
	<key>PROJECT_ID</key>
	<string>firestorefb-b7ff8</string>
	<key>STORAGE_BUCKET</key>
	<string>firestorefb-b7ff8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:481292439864:ios:d772b51e080f0fc465f1cd</string>
</dict>
</plist>